@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* universal-style */

body {
  font-family: "Poppins", sans-serif;
}

/* header-style */

header {
  display: flex;
  margin-left: 200px;
}

.logo-top {
  height: 90px;
}

.top-menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin-top: 25px;
  margin-left: 40px;
}

.menu-item {
  font-size: 20px;
}

/* main-section */

.cards {
  margin: 50px 100px;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.title-like {
  display: flex;
}

.char-title {
  margin: 0;
}

.fa-heart {
  margin-top: 5px;
  font-size: 20px;
  margin-left: 85px;
}

.likes {
  margin-left: 100px;
}

.comment-btn {
  margin-left: 30px;
  border: 2px solid #000;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

/* footer-section */

.fotter {
  text-align: center;
}
