@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* universal-style */

body {
  font-family: "Poppins", sans-serif;
}

/* header-section-style */

header {
  display: flex;
  margin-left: 200px;
}

.logo-top {
  height: 90px;
}

.top-menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin-top: 25px;
  margin-left: 40px;
}

.menu-item {
  font-size: 20px;
}

/* main-section-section */

.cards {
  margin: 50px 100px;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.c-img {
  height: 300px;
  width: 258px;
}

.title-like {
  display: flex;
}

.char-title {
  margin: 0;
  width: 90%;
}

.fa-heart {
  margin-top: 5px;
  font-size: 20px;
}

.likes {
  margin-left: 200px;
}

.comment-btn {
  margin-left: 84px;
  border: 2px solid #000;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

/* footer-section-style */

.fotter {
  text-align: center;
}

/* comment-popup-style */

.comment-popup {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c1c7d0e5;
  backdrop-filter: blur(2px);
}