@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* universal-style */

body {
  font-family: "Poppins", sans-serif;
  background-color: #a8dadc;
}

/* header-section-style */

header {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.logo-top {
  height: 90px;
}

.top-qoute-container {
  background-color: #fcd5ce;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 2px solid #023e8a;
}

.top-qoute {
  font-weight: bold;
  color: #023e8a;
}

/* main-section-section */

.c-counter-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.c-counter {
  color: #e45c3a;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.cards {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fcd5ce;
  padding: 15px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 2px solid #023e8a;
}

.card:hover {
  transition: 1s ease-in-out;
  transform: scale(1.05);
  cursor: pointer;
}

.c-img {
  height: 270px;
  width: 260px;
}

.title-like {
  display: flex;
}

.char-title {
  color: #023e8a;
  margin: 0;
  width: 90%;
}

.fa-heart {
  cursor: pointer;
  margin-top: 5px;
  font-size: 25px;
  color: #023e8a;
}

.fa-heart:hover {
  color: #f72585;
}

.likes {
  color: #023e8a;
  font-weight: bold;
  margin: 10px;
  margin-left: 190px;
}

.comment-btn {
  font-size: 14px;
  background-color: #0096c7;
  color: #edf6f9;
  margin-left: 80px;
  border: 2px solid #457b9d;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
}

/* footer-section-style */

.fotter {
  margin-top: 50px;
  text-align: center;
}

.footer-link {
  color: #e45c3a;
  cursor: pointer;
  text-decoration: none;
}

/* comment-popup-style */

.comment-popup {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a8dadcc7;
  backdrop-filter: blur(2px);
}

.main-popup-container {
  margin: 30px 20px;
  background-color: #ffe8d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #023e8a;
}

.fa-times {
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 30px;
  color: #023e8a;
}

.popup-pc1,
.popup-pc2 {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.popup-image {
  height: 250px;
  width: 300px;
  margin-top: 20px;
}

.popup-title {
  font-size: 30px;
  margin: 0;
  color: #023e8a;
  text-align: center;
}

.popup-details {
  display: flex;
  gap: 100px;
  color: #023e8a;
  font-weight: bold;
}

.popup-info {
  margin: 8px 0;
}

.comment-heading {
  font-weight: bold;
  color: #27a599;
  margin: 10px 0;
  text-align: center;
}

.comments-container {
  color: #27a599;
  font-size: 16px;
  overflow-y: scroll;
  max-height: 150px;
  border: 2px solid #27a599;
  padding: 10px;
  border-radius: 8px;
}

.comment {
  display: flex;
  gap: 15px;
}

.comment-user-name,
.comment-date,
.comment-value {
  margin: 5px 0;
}

.add-comment {
  margin: 15px;
  font-weight: bold;
  color: #0096c7;
  text-align: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-comment,
.user-name {
  resize: none;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #0096c7;
  outline: none;
}

.submit-comment {
  align-self: flex-start;
  font-size: 14px;
  background-color: #0096c7;
  color: #edf6f9;
  border: 2px solid #457b9d;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* desktop-styles */

@media screen and (min-width: 1080px) {
  .main-popup-container {
    margin: 50px 250px;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 50px 0;
  }

  .fa-times {
    top: 65px;
    right: 275px;
  }

  .popup-details {
    gap: 80px;
  }

  .popup-pc1,
  .popup-pc2 {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
